Language: Cpp
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BasedOnStyle: llvm
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: AfterColon
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
NamespaceIndentation: All
SkipMacroDefinitionBody: false
SpaceAfterTemplateKeyword: false
